<mat-card class="content" id="{{contentToDisplay.title}}"
    ngClass="content-{{contentToDisplay.type?contentToDisplay.type:'no-type'}} {{contentToDisplay.highlight?'highlight':''}}">
    <mat-card-content>
        <mat-card-title>
            {{contentToDisplay.title}}
        </mat-card-title>
        <span class="displayBlock">
            <strong class="displayBlock">Get Details</strong>
            <a [routerLink]="['/content',contentToDisplay.id]" routerLinkActive="active">
                Fetch Details
            </a>
        </span>
        <span class="displayBlock">
            <strong class="displayBlock">Creator</strong>
            {{contentToDisplay.creator}}
        </span>
        <span class="displayBlock" *ngIf="contentToDisplay.type">
            <strong class="displayBlock" [appHoverAffect]="'typeHover'">Type</strong>
            <span>{{contentToDisplay?.type}}</span>
        </span>
        <span class="displayBlock">
            <strong class="displayBlock">Image:</strong>
            <img *ngIf="contentToDisplay.imgURL; else defaultImage" src="{{contentToDisplay.imgURL}}" alt="{{contentToDisplay.title}}" width="60" height="60" (click)="logIdTitle(contentToDisplay)"/>
        </span>
        <ng-template #defaultImage>
            <img src="../assets/default-content.jpg" mat-card-image alt="{{contentToDisplay.title}}" width="60" height="60" (click)="logIdTitle(contentToDisplay)"/>
        </ng-template>
        <span class="displayBlock" *ngIf="contentToDisplay.tags">
            <strong class="displayBlock">Tags</strong>
            <span *ngFor="let tag of contentToDisplay.tags;let i=index" class="tag-span">
                <span [appHoverAffect]="'tagHover'">
                    {{tag}}
                </span> {{i==contentToDisplay.tags.length-1?'':'| '}}
            </span>
        </span>
    </mat-card-content>
    <mat-card-footer>
        <app-modify-content-component (newContentEvent)="addNewContentToList($event)" buttonAction="Update" [contentToUpdate]="contentToDisplay"></app-modify-content-component>
    </mat-card-footer>
</mat-card>